.site-box {
  text-align: center;
  background-repeat: no-repeat;
  background-color: #1b1b1b;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 9px;
}
.site-box > a > p{
  color: #005682;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  display: block;
  padding: 2px;
}
.site-box > a > span {
  color: #005682;
}
site-box > a > .sitefeature {
  border: none; 
}