.site-box {
  text-align: center;
  background-repeat: no-repeat;
  background-color: #1b1b1b;
  background-image: none !important;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 9px;
  padding-bottom: 2px;
}
.site-box > a > p{
  color: #d2d2d2;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  display: block;
  padding: 2px;
}
.site-box > a > span {
  color: #d2d2d2;
  font-family: 'Courier New', Courier, monospace;
}
.site-box > a > .sitefeature {
  border: none;
}
.site-box > a > .sitefeature > img{
  border: 2px solid black !important;
  border-radius: 9px;
  src: url(https://mxeggsalad.nekoweb.org/assets/crustyinfant.gif);
}