/* This file defines how custom elements will look like, setting CSS that breaks main nekoweb site on purpose is prohibited and may result in ban and site deletion! */

/* Must start with ".site-box". Change how your website will appear on main nekoweb site: https://lune.dimden.dev/405a44b7e5.png */
.site-box {
    text-align: center;
    background-image: url(https://mxeggsalad.nekoweb.org/fucked-up-cat-sitebox.png); /* Only nekoweb URLs allowed, use full url to your site like https://example.nekoweb.org/images/coolbg.png */
    background-repeat: no-repeat;
    
}
.site-box > a > p {
    color: #005682;
    font-size: 15px;
    font-family: Courier New;
    font-weight: bold;
}
.site-box > a > span {
    color: #005682;
}