body{
  background-color:#1b1b1b;
}

main{
  display: block;
  padding: 10px;
  background-color: #252525;
  margin: 1% 15%;
  border-color: #000000;
  border-radius: 5px;
  border-style: solid;
}

p,h1,h2,h3,h4,ul,li{
  font-family:"homestuck-font";
  font-size: 140%;
  -webkit-text-fill-color: #d2d2d2;
  font-weight: bold;
}
h1,h2,h3,h4,h5,h6{
  font-size: xx-large;
  font-weight: bolder;
  background-color: #141414;
  -webkit-text-fill-color: #d2d2d2;
  border-color: #000000;
  border-radius: 5px;
  border-style: solid;
  padding: 10px;
  margin: 0;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: max-content;
}

a:link{-webkit-text-fill-color: #0e5dad;}
a:visited{-webkit-text-fill-color: #108998;}
a:hover{background-color: #131212;}

ul{color: #d2d2d2;}

iframe {border: none;}

@font-face {
  font-family: 'homestuck-font'; 
  src: url('/assets/Courier\ New.ttf'); 
}