:root {
  --main:#1b1b1b;
  --second:#252525;
  --text:#d2d2d2;
  --link:#0e5dad;
  --linkvisited:#108998;
  --linkhover:#131212;
  --border:black;
}
@font-face {
  font-family: 'homestuck-font'; 
  src: url('/assets/homestuck-font.ttf'); 
}

body{
  background-color:var(--main);
}

main{
  display: block;
  padding: 10px;
  margin: 10px 15% 30px 15%;
  background-color:var(--second);
  border-color: var(--border);
  border-radius: 5px;
  border-style: solid;
}

p,h1,h2,h3,h4,ul,li{
  font-family:"homestuck-font";
  color: var(--text);
  font-size: 140%;
  font-weight: bold;
  margin-bottom: 0;
}
h1,h2,h3,h4,h5,h6{
  font-size: xx-large;
  font-weight: bolder;
  background-color:var(--main);
  color: var(--text);
  border-color: inherit;
  border-radius: inherit;
  border-style: inherit;
  padding: 10px;
  margin: 0;
}
img{
  margin: 40px ;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: max-content;
}

a:link{-webkit-text-fill-color:var(--link);}
a:visited{-webkit-text-fill-color:var(--linkvisited);}
a:hover{background-color:var(--linkhover);}
a:hover:has(img){
  background: none;
  opacity: 70%;
}

iframe {border: none;}