body{
  background-image: url(/assets/backdrop.jpg);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: 100% 100%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
  /* h1 is bold by default */
  font-size: 250%;
  text-align: center;
}
main{height: fit-content;}
main, footer p{
  font-size: 120%;
  background-color: #777777;
  margin: 0% 10%;
  padding: 10px;
  border: solid #000000;
  border-width: 2px;
}
main p{margin: 0;}

table{
  background-color: #777777;
  padding: 10px;
  border: solid #000000;
  margin: 0;
}

body{
  margin-left: 160px;
  padding: 0px 10px;
}
footer{
  padding: 10% 0% 1%;
  bottom: 0; 
  font-size: small;
  font-style: italic;
  position: fixed
}
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.mainNav p{
  border: solid 2px #000000;
  padding: 2px 3px 2px 2px;
  margin-top: 0;
  font-size: medium;
  background-color: #909090;
}
.mainNav h3{
  margin: auto;
  margin-bottom: 4px;
  margin-top: 5px;
}
.mainNav{
  height: 100%;
  width: 120px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: grey;
  overflow-x: hidden;
  padding-left: 1%;
  padding-right: 1%;
  border-right: solid;
  border-width: 2px;
}
.mainNav ul{
  list-style-type: none;
  padding: 0;
  -webkit-text-fill-color: #000000;
  font-size: 120%;
}
.mainNav ul li{
  padding: 6px 0px;
}
.mainNav a:hover{background-color: #777777;}
.mainNav a:visited{-webkit-text-fill-color: #000000;}
.mainNav img{
  border-style: solid;
  border-width: 2px;
}


@media screen and (max-height: 450px) {
  .mainNav {padding-top: 15px;}
  .mainNav a {font-size: 18px;}
}
#fullpage {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-color: black;
}