/* Background and Text Formatting */
body{
    background-color:#1b1b1b;
    -webkit-text-fill-color: #d2d2d2;
    text-align: center;
    font-family:"Courier New";
    font-size: x-large;
}

/* Fixes colours that are wrong because of body -webkit-text-fill-color */
audio{-webkit-text-fill-color: black;}

/* Links colour formatting */
a:link{-webkit-text-fill-color: #0e5dad;}
a:visited{-webkit-text-fill-color: #108998;}
a:hover{background-color: #131212;}

/* Ul styling (i just like how it looks) */
ul{color: #d2d2d2;}

/* Makes lists look less nautious when paired with text-align: center; */
ul.myUL {
    display: inline-block;
    text-align: left;
}

/* Makes iframes not look ugly as fuck with that outline, 
and makes depreciated stuff fit style spesifications*/
iframe {border: none;}