body{
  background-color:#1b1b1b;
  text-align: center;
  margin-left: 160px;
  padding: 0px 10px;
}

p,a,h1,h2,h3,h4,ul,li{
  font-family:"homestuck-font";
  font-size: x-large;
  -webkit-text-fill-color: #d2d2d2;
  font-weight: bold;
}
h1{font-size: 24pt;}
h2{font-size: 22pt;}
img{
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #000000;
}

a:link{-webkit-text-fill-color: #0e5dad;}
a:visited{-webkit-text-fill-color: #108998;}
a:hover{background-color: #131212;}
a:hover:has(img){
  background: none;
  opacity: 70%;
}
/* Makes lists look less nautious when paired with text-align: center; */
ul.myUL {
  display: inline-block;
  text-align: left;
}
ul.noBullets{
  list-style-type: none;
  padding: 0;
}
ul{
  color: #d2d2d2;
  margin-top: 0;
}
.buttons li{padding: 8px 0px 1px;}

@font-face {
  font-family: 'homestuck-font'; 
  src: url('/assets/Courier\ New.ttf'); 
}

iframe {border: none;}